/* Translator.css */

body { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    } 
    .wrapeer{
        /* border: 2px solid green; */
        padding: 30px;
        padding-left: 5%;
        border-radius: 20px;
        /* background-color: #a5dcec; */
        background-color: rgb(223, 214, 214);
        box-shadow: rgba(102, 81, 235, 0.25) 0px 14px 28px, rgba(149, 101, 232, 0.22) 0px 10px 10px;
        border: 4px solid palevioletred;
    }
    .container { 
    display: flex; 
    align-items: center; 
    /* min-height: 150vh;  */
    flex-direction: column; 
    box-sizing: border-box; 
    padding-top: 50px; 
    width: 100%;
    /* border: 2px solid blue; */
    height: 90vh;
  
    /* background-image: url("https://dss-www-production.s3.amazonaws.com/uploads/2023/06/hero-1-scaled-1.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    } 
    
    .row1 { 
    width: calc(100% - 10px); 
    max-width: 650px; 
    } 
    
    select { 
    width: calc(50% - 20px); 
    line-height: 40px; 
    font-size: 14px; 
    border: 1px solid #dadce0; 
    border-radius: 8px; 
    height: 40px; 
    padding-left: 18px; 
    position: relative; 
    color: #1a0dab; 
    cursor: pointer; 
    outline: none; 
    user-select: none; 
    } 
    
    .reversesvg { 
    width: 20px; 
    color: rgba(0, 0, 0, 0.26); 
    line-height: 40px; 
    opacity: 0.5; 
    vertical-align: middle; 
    cursor: pointer; 
    margin: 0px 10px; 
    } 
    
    option { 
    color: #202124; 
    } 
    
    .row2 { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: calc(100% - 10px); 
    max-width: 650px; 
    margin-top: 10px; 
    position: relative; 
    } 
    
    .inputText { 
    width: calc(50% - 20px); 
    position: relative; 
    } 
    
    .outputText { 
    width: calc(50% - 20px); 
    height: 300px; 
    font-family: monospace; 
    box-sizing: border-box; 
    padding: 15px; 
    font-size: 20px; 
    border-radius: 8px; 
    overflow: auto; 
    background: #edeff0; 
    text-align: left; 
    border: 4px solid green;
    background-color: rgb(206, 224, 240);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    } 
    
    .row2 textarea { 
    width: 100%; 
    height: 300px; 
    resize: none; 
    box-sizing: border-box; 
    padding: 0px 35px 10px 10px; 
    margin-top: 15px; 
    border: none; 
    font-size: 20px; 
    overflow: auto; 
    color: #202124; 
    outline: none; 
    border: 4px solid purple;
    border-radius: 10px;
    background-color: rgb(206, 224, 240);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    } 
    
    .removeinput { 
    cursor: pointer; 
    width: 20px; 
    position: absolute; 
    opacity: 0.5; 
    top: 5px; 
    right: 3px; 
    } 
    
    .row3 { 
    width: calc(100% - 10px); 
    max-width: 650px; 
    margin-top: 15px; 
    margin-bottom: 20px; 
   
    } 
    .row3 button{
        height: 40px;
    }
    
    .btn { 
    width: 100%; 
    position: relative; 
    padding: 10px; 
    outline: none; 
    background-color: #5788f9; 
    color: #fff; 
    border: 2px solid #3715bd; 
    border-radius: 4px; 
    cursor: pointer; 
    border-radius: 10px;
    font-size: 16px; 
    letter-spacing: 0.5px; 
    } 
    
    .btn i { 
    display: none; 
    } 
    
    @media screen and (max-width: 500px) { 
    .row2 { 
        flex-direction: column; 
    } 
    .inputText { 
        width: 100%; 
    } 
    .outputText { 
        width: 100%; 
        margin-top: 20px; 
    } 
    } 
    
    ::-webkit-scrollbar { 
    width: 4px; 
    } 
    ::-webkit-scrollbar-track { 
    display: none; 
    } 
    ::-webkit-scrollbar-thumb { 
    background: rgb(173, 172, 172); 
    border-radius: 4px; 
    } 
    

    .maintranslate{
        display: flex;
        
        justify-content: center;
        align-items: center;
        background-color: #dadce0;
    }
    .maintranslate .lefttranslate{
        width: 50%;
        padding-left: 10%;
    }

    .maintranslate .container{
        width: 50%;
        padding-right: 5%;
    }
.lefttranslate{
    width: 40%;
  /* border: 2px solid red; */
  padding: auto;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

    .lefttranslate img{
        width: 400px;
        height: 400px;
    }
    .lefttranslate span{
        font-size: 22px;
  line-height: 1.3;
  font-family: cursive;
  color: blue;
    }