footer{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    position: sticky;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    margin-top: 2%;
    padding: 20px;
}
footer h3{
    color: #e76f51;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}